:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--slate);
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--navy-blue);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  font-family: inherit;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
@media screen {
  .container {
    max-width: 288px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    width: 100%;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =========== HEADER ========= */
@media screen {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--iris);
  }
  .header-logo-span {
    color: var(--navy-blue);
  }
  .header-list {
    display: none;
    gap: 40px;
    margin-left: 120px;
  }

  .header-list-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--navy-blue);
  }
  .header-list-link.active-link {
    color: var(--ocean);
  }
  .header-list-link.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: var(--ocean);
    border-radius: 2px;
    transform: translate(0%);
  }

  .header-address {
    display: none;
  }
  .header-address-list > li:first-child {
    margin-bottom: 12px;
  }
  .header-address-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--slate);
  }

  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: transform var(--transition);
  }
  .mobile-menu.is-open {
    opacity: 1;
    pointer-events: visible;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-open-btn {
    display: none;
  }
  .header-list {
    display: flex;
  }

  .header-address {
    display: block;
  }
}
@media screen and (min-width: 1158px) {
  .header-list {
    margin-left: 76px;
  }
  .header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-address-list > li:first-child {
    margin-bottom: 0;
  }
  .mobile-menu .container {
    margin: 0;
  }
  .mobile-menu-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  .mobile-menu-list {
    margin-top: 72px;
    margin-bottom: 168px;
  }
  .mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu-link.mobile-menu-link-active {
    color: var(--ocean);
  }
  .mobile-menu-address {
    margin-bottom: 48px;
  }
  .mobile-menu-address-list > li:first-child {
    margin-bottom: 24px;
  }
  .mobile-menu-address-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
  .mobile-menu-address-link.mobile-menu-address-active {
    color: var(--ocean);
  }
  .mobile-menu-social-list {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu-social-item {
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
    transition: background-color var(--transition);
  }
  .mobile-menu-social-item:hover,
  .mobile-menu-social-item:focus {
    background-color: #31d0aa;
  }

  .mobile-menu-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
  }
  .mobile-menu-social-link:hover,
  .mobile-menu-social-link:focus {
    background-color: #31d0aa;
  }
  .mobile-menu-social-img {
    fill: #f4f4fd;
  }
}
/* =========== /HEADER ======== */

/* ===========  HERO ======== */
@media screen {
  .hero {
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    background-color: var(--navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    color: var(--white);
  }
  .hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--iris);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color var(--transition);
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: var(--ocean);
  }
}
@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-tablet.jpg");
  }
  .hero-title {
    max-width: 100%;
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-desktop.jpg");
  }
  .hero-title {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-desktop@2x.jpg");
  }
}

/* =========== /HERO ======== */

/* =========== MODAL ========== */

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: visible;
}
.modal {
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 288px;
  width: 100%;
  height: 96%;
  max-height: 623px;
  padding: 72px 16px 24px 16px;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    max-height: 584px;
  }
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  align-self: flex-end;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: none;
  fill: #fff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-inputs {
  display: flex;
  flex-direction: column;
}
.modal-form-inputs.textarea {
  margin-bottom: 16px;
}
.modal-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-container {
  position: relative;
  margin-bottom: 8px;
  transition: fill var(--transition);
}
.modal-input-container:focus-within .modal-input-icon {
  fill: var(--secondary-accent-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 34px;
  outline: transparent;
  transition: border-color var(--transition);
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--iris);
  outline: none;
}
.modal-input.textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.terms-link {
  color: var(--iris);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: underline;
}

.checkbox-container {
  margin-bottom: 24px;
  width: 100%;
}
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-frame {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

input[type="checkbox"]:checked + .checkbox-label .checkbox-frame {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color var(--transition);
}
.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--ocean);
}

/* =========== /MODAL ========= */
