:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color: #2e2f42;
  --primary-accent-color: #404bbf;
  --secondary-font: "Raleway", sans-serif;
  --secondary-text-color: #434455;
  --secondary-accent-color: #4d5ae5;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--secondary-text-color);
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}
ul {
  list-style-type: none;
}

input {
  font-family: inherit;
}

/* =========== HEADER========= */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--secondary-accent-color);
}
.header_span {
  color: var(--primary-text-color);
}
.list {
  display: flex;
  gap: 40px;
  padding-left: 0;
  margin: 0;
}

.list-item {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.list-item:first-child .list-link {
  color: var(--primary-accent-color);
}
.list-link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;
  transition: color var(--transition);
}

.list-link.main-link {
  color: var(--primary-accent-color);
}
.list-link.main-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--primary-accent-color);
  border-radius: 2px;
  transform: translate(0%);
}
.list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--primary-accent-color);
  border-radius: 2px;
  transform: translateY(100%);
  transition: translate var(--transition);
}
.list-link:hover,
.list-link:focus,
.list-link:active {
  color: var(--primary-accent-color);
}
.list-link:hover::after,
.list-link:focus::after,
.list-link:active::after {
  transform: translateY(0%);
}

.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  padding-left: 0;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition);
}

.address-link:hover,
.address-link:focus {
  color: var(--primary-accent-color);
}

/* =========== /HEADER========= */

/* =========== HERO ========= */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.hero {
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-color: var(--primary-text-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-bottom: 42px;
  margin-right: auto;
  color: #ffffff;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--secondary-accent-color);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color var(--transition);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--primary-accent-color);
}

/* =========== /HERO-TOP ========= */

/* =========== BENEFITS ========= */

.benefits {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 24px;
  margin: 0;
}
.benefits-item {
  width: calc((100% - 72px) / 4);
}
.benefits-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/* =========== /BENEFITS ========= */

/* =========== TEAM ========= */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}
.team-item {
  background-color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.02em;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item__wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}
.team-item__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-item__list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 16px;
}
.team-item__social {
  border-radius: 50%;
}

.team-item__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-accent-color);
  border-radius: 50%;
  transition: background-color var(--transition);
}
.team-item__social-link:hover,
.team-item__social-link:focus {
  background-color: var(--primary-accent-color);
}
.team-item__social-svg {
  fill: #f4f4fd;
}
/* =========== /TEAM ========= */

/* =========== PORTFOLIO ========= */

.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--primary-text-color);
}
.portfolio-list {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow var(--transition);
}
.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  padding: 40px 32px;
  background-color: var(--secondary-accent-color);
  transition: transform var(--transition);
}
.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-list__wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* =========== /PORTFOLIO ========= */

/* =========== FOOTER ========= */

.footer {
  background-color: var(--primary-text-color);
  padding: 100px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo-wrapper {
  margin-right: 120px;
}
.footer_logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
  margin-bottom: 16px;
}
.footer_span {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.footer-social {
  color: #ffffff;
  margin-right: auto;
}
.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social__list {
  display: flex;
  gap: 16px;
  padding-left: 0;
  margin: 0;
}
.footer-social__item {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-accent-color);
  border-radius: 50%;
  transition: background-color var(--transition);
}
.footer-social__item:hover,
.footer-social__item:focus {
  background-color: #31d0aa;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: #31d0aa;
}
.footer-svg {
  fill: #f4f4fd;
}

.footer-subs-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
/* .footer-subs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
} */
.footer-subs-form {
  display: flex;
  gap: 24px;
  /* border: 1px solid #ffffff; */
  border-radius: 4px;
}

.footer-subs-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: #ffffff;
}
.footer-subs-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-subs-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--secondary-accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color var(--transition);
}

.footer-subs-btn-icon {
  margin-left: 16px;
  fill: #fff;
}
.footer-subs-btn:hover,
.footer-subs-btn:focus {
  background-color: var(--primary-accent-color);
}
/* =========== FOOTER ========= */

/* ========== MODAL-WINDOW  ========== */
.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  align-self: flex-end;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--primary-accent-color);
  border: none;
  fill: #fff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-form-inputs.textarea {
  margin-bottom: 16px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-container {
  position: relative;
  margin-bottom: 8px;
  transition: fill var(--transition);
}
.modal-input-container:focus-within .modal-input-icon {
  fill: var(--secondary-accent-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--transition);
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--secondary-accent-color);
  outline: none;
}
.modal-input.textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.terms-link {
  color: var(--secondary-accent-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: underline;
}

.checkbox-container {
  margin-bottom: 24px;
  width: 100%;
}
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-frame {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

input[type="checkbox"]:checked + .checkbox-label .checkbox-frame {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--secondary-accent-color);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color var(--transition);
}
.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--primary-accent-color);
}
/* ========== /MODAL-WINDOW  ========== */
